# TNE Object Access SDK

## Initialize Session

In [3]:
from tne.TNE import TNE

UID = "114520153332760575553"
session = TNE(UID, "bp-authoring-files")

## List Bucket Contents

In [4]:
session.list_data()[:10]

['d/114520153332760575553/Data/',
 'd/114520153332760575553/Data/- handbags chat explain.txt',
 'd/114520153332760575553/Data/131 - Confidential Fiber Suppliers Assessment 1.2 08-09-07-2024.xlsx',
 'd/114520153332760575553/Data/131 - Confidential Fiberpartner Supplier Assessment Report 2024.docx.txt',
 'd/114520153332760575553/Data/131_hop_than.csv',
 'd/114520153332760575553/Data/1729712078-915673.png',
 'd/114520153332760575553/Data/1729712241-8568685.png',
 'd/114520153332760575553/Data/1729712499-2458847.png',
 'd/114520153332760575553/Data/1729796860-1129415.png',
 'd/114520153332760575553/Data/1729798734-9448273.png']

## Load Data
### Supported types
* CSV (as DataFrame)
* Excel (as DataFrame)
* Text (`.txt`, `.md`, etc.))
* Images (`.jpg`, `.jpeg`, `.png`)
* JSON
* YAML

In [5]:
csv_df = session.get_object("shopping_list_with_periods_cleaned.csv")
excel_df = session.get_object("shopping_list_cleaned.xlsx")
txt_file = session.get_object("442-subset-code-generator-instructions-2024-08-20.txt")
png_image = session.get_object("Award_Statuette_Under_Starry_Sky_Ceremony_v1.png")

In [6]:
csv_df.head()

,product_subgroup_desc,style_colour_desc,gender,style_colour_code,period,sales,beg_inv,end_inv,total_stock,weeks_selling,...,standard_cost_price,material,product_launch_date,colour_description,aur,msrp,distinct_store_count,pareto,month,season
0,Backpack,Handbag Backpack Style 39102,Women,2001037501,202204,4,6,0,4,44,...,41.72,NaN,2017-07-10,Cognac,106.053750,58.792500,54,Tail,April,Spring/Summer
1,Crossbody bag,Handbag Crossbody bag Style 51686,Women,2001782213,202206,28,96,68,96,27,...,30.72,Vinyl,2021-04-21,Yellow,107.885714,126.535714,245,A,June,Spring/Summer
2,Crossbody bag,Handbag Crossbody bag Style 52144,Women,2001790151,202210,90,223,133,223,9,...,33.44,Vinyl,1900-01-01,Green,134.425280,160.507303,268,A,October,Fall/Winter
3,City,Handbag City Style 48818,Women,2001666951,202207,2,3,2,4,40,...,149.41,NaN,1900-01-01,Pearl,253.096666,2.953333,26,C,July,Fall/Winter
4,Tote bag,Handbag Tote bag Style 46834,Women,2001581151,202209,67,134,263,332,44,...,54.22,Vinyl,2020-05-03,Cream,120.772605,120.361830,262,A,September,Fall/Winter

In [7]:
excel_df

{'shopping_list_with_periods_clea':      product_subgroup_desc                  style_colour_desc gender  \
 0                 Backpack       Handbag Backpack Style 39102  Women
 1            Crossbody bag  Handbag Crossbody bag Style 51686  Women
 2            Crossbody bag  Handbag Crossbody bag Style 52144  Women
 3                     City           Handbag City Style 48818  Women
 4                 Tote bag       Handbag Tote bag Style 46834  Women
 ...                    ...                                ...    ...
 1048         Crossbody bag  Handbag Crossbody bag Style 48811  Women
 1049                Clutch         Handbag Clutch Style 50301  Women
 1050                  City           Handbag City Style 46846  Women
 1051                Clutch         Handbag Clutch Style 46863  Women
 1052              Backpack       Handbag Backpack Style 46904  Women

       style_colour_code  period  sales  beg_inv  end_inv  total_stock  \
 0            2001037501  202204      4        6        0            4
 1            2001782213  202206     28       96       68           96
 2            2001790151  202210     90      223      133          223
 3            2001666951  202207      2        3        2            4
 4            2001581151  202209     67      134      263          332
 ...                 ...     ...    ...      ...      ...          ...
 1048         2001666729  202207     39       84       77          116
 1049         2001717713  202211      7        4        1            8
 1050         2001581451  202203      1        1        1            2
 1051         2001581751  202203      0        0        1            1
 1052         2001582843  202203     14       13        1           15

       weeks_selling  ... standard_cost_price         material  \
 0                44  ...               41.72              NaN
 1                27  ...               30.72            Vinyl
 2                 9  ...               33.44            Vinyl
 3                40  ...              149.41              NaN
 4                44  ...               54.22            Vinyl
 ...             ...  ...                 ...              ...
 1048             31  ...               39.58  Synthetic suede
 1049             31  ...               34.24              NaN
 1050              5  ...               68.09              NaN
 1051             14  ...               26.88              NaN
 1052             18  ...               62.04              NaN

       product_launch_date colour_description         aur        msrp  \
 0              2017-07-10             Cognac  106.053750   58.792500
 1              2021-04-21             Yellow  107.885714  126.535714
 2              1900-01-01              Green  134.425280  160.507303
 3              1900-01-01              Pearl  253.096666    2.953333
 4              2020-05-03              Cream  120.772605  120.361830
 ...                   ...                ...         ...         ...
 1048           2022-09-25        Black Metal  104.832049  133.470157
 1049           2021-04-21        Black Metal   42.095000   27.960000
 1050           2021-09-10                Red  147.930000  179.000000
 1051           2021-05-30        Black Metal   28.510000  -34.500000
 1052           2020-10-05              Cream  117.833666  113.642000

       distinct_store_count  pareto      month         season
 0                       54    Tail      April  Spring/Summer
 1                      245       A       June  Spring/Summer
 2                      268       A    October    Fall/Winter
 3                       26       C       July    Fall/Winter
 4                      262       A  September    Fall/Winter
 ...                    ...     ...        ...            ...
 1048                   262       A       July    Fall/Winter
 1049                   238       A   November    Fall/Winter
 1050                    23       A      March  Spring/Summer
 1051                    44    Tail      March  Spring/Summer
 1052                    75    Tail      March  Spring/Summer

 [1053 rows x 22 columns]}

### Direct bytes access

For unsupported file extensions, `session.get_object()` will throw an error. In these cases, you can use `session.get_object_bytes()`.

In [8]:
try:
    unsupported_file = session.get_object("debug.fake")
except ValueError as e:
    print(e)

Unsupported file extension: fake. Use method get_object_bytes() to access this object.

In [9]:
unsupported_file_bytes = session.get_object_bytes("debug.fake")
unsupported_file_text = unsupported_file_bytes.decode('utf-8')
unsupported_file_text

'* Response from Model G *\n\nBruce Springsteen, often referred to as "The Boss," is an iconic American singer-songwriter and musician known for his poetic lyrics, distinctive voice, and energetic stage performances. Born on September 23, 1949, in Long Branch, New Jersey, Springsteen grew up in a working-class family, an experience that deeply influenced his music. He is best known for his work with the E Street Band, with whom he has recorded the majority of his albums.\n\nSpringsteen\'s music is characterized by its focus on the experiences of everyday Americans, exploring themes of love, loss, hope, and the American dream. His breakthrough album, "Born to Run" (1975), established him as a leading figure in rock music. He achieved further critical and commercial success with albums like "Born in the U.S.A." (1984), which became one of the best-selling albums of all time.\n\nOver his career, Springsteen has won numerous awards, including multiple Grammy Awards, an Academy Award for Best Original Song for "Streets of Philadelphia," and the Presidential Medal of Freedom. He has been inducted into the Rock and Roll Hall of Fame and the Songwriters Hall of Fame. Springsteen\'s enduring popularity and his impact on American music and culture have made him a legendary figure in the world of rock and roll.'

## Database Access

In [11]:
db_session = TNE(
    db_name="ebp", 
    db_host="postgresql-ebp.cfwmuvh4blso.us-west-2.rds.amazonaws.com",
    db_pass="i6XFDgR6KGkTd"
)

In [16]:
df = db_session.get_table("ao_data_master")
df

,plandesc,channelname,family,subfamily,department,stylecolordescription,skugenter,skurangesegment,primarycluster,secondarycluster,...,sales_val_across_specific_cluster,sales_val_across_all_cluster,sales_val_nonma_overall,salesvalall,totalstock,warehouse_inv,weeks_on_sale,client_id,region_id,str_cnt
0,308 Handbag basic demo tne,CH0005,Handbag,Baby bag,Accessories,Handbag Baby bag Style 37682,NULL,NULL,0,NULL,...,5140,20114,15064,20114,142,1202,NULL,3,1,1
1,308 Handbag basic demo tne,CH0005,Handbag,Baby bag,Accessories,Handbag Baby bag Style 37682,NULL,NULL,1,NULL,...,4179,20114,15064,20114,111,1202,NULL,3,1,1
2,308 Handbag basic demo tne,CH0005,Handbag,Baby bag,Accessories,Handbag Baby bag Style 37682,NULL,NULL,2,NULL,...,4894,20114,15064,20114,165,2404,NULL,3,1,1
3,308 Handbag basic demo tne,CH0005,Handbag,Baby bag,Accessories,Handbag Baby bag Style 37682,NULL,NULL,3,NULL,...,3310,20114,15064,20114,103,1202,NULL,3,1,1
4,308 Handbag basic demo tne,CH0005,Handbag,Baby bag,Accessories,Handbag Baby bag Style 37682,NULL,NULL,4,NULL,...,2073,20114,15064,20114,61,1202,NULL,3,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4458,308 Handbag basic demo tne,CH0005,Handbag,Tote bag,Accessories,Handbag Tote bag Style 53816,NULL,NULL,3,NULL,...,5229,28716,28716,28716,80,227,NULL,3,1,1
4459,308 Handbag basic demo tne,CH0005,Handbag,Tote bag,Accessories,Handbag Tote bag Style 53816,NULL,NULL,4,NULL,...,4194,28716,28716,28716,51,227,NULL,3,1,1
4460,308 Handbag basic demo tne,CH0005,Handbag,Tote bag,Accessories,Handbag Tote bag Style 53816,NULL,NULL,5,NULL,...,1520,28716,28716,28716,9,227,NULL,3,1,1
4461,308 Handbag basic demo tne,CH0005,Handbag,Tote bag,Accessories,Handbag Tote bag Style 53820,NULL,NULL,2,NULL,...,279,419,419,419,2,0,NULL,3,1,1
4462,308 Handbag basic demo tne,CH0005,Handbag,Tote bag,Accessories,Handbag Tote bag Style 53820,NULL,NULL,3,NULL,...,139,419,419,419,1,0,NULL,3,1,1