# TNE Object Access SDK

## Initialize Session

In [30]:
from tne.TNE import TNE

UID = "113131128239301637682"
session = TNE(UID)

## List Bucket Contents

In [17]:
session.list_data()

['Margins.csv',
 'Products.csv',
 'Sentiment.csv',
 'activity.csv',
 'debug.fake',
 'hipster1.jpeg',
 'hipster2.jpeg',
 'hipster3.jpeg',
 'imageFilename.yaml',
 'package.json',
 'rag_out.txt',
 'res_arcana_rulebook.txt',
 'res_arcana_state.txt',
 'soup.png',
 'test.txt',
 'test/AirFreightResults.csv',
 'test/ebp-retail-reco.yaml']

## Load Data
### Supported types
* CSV (as DataFrame)
* Text (`.txt`, `.md`, `.out`)
* Images (`.jpg`, `.jpeg`, `.png`)
* JSON
* YAML

In [24]:
df = session.get_object('Margins.csv')
txt_file = session.get_object("res_arcana_state.txt")
nested_file = session.get_object("test/AirFreightResults.csv")
jpeg_image = session.get_object("hipster1.jpeg")
png_image = session.get_object("soup.png")
yaml_file = session.get_object("imageFilename.yaml")
json_file = session.get_object("package.json")
bytes_obj = session.get_object_bytes("rag_out.txt")

In [33]:
df.head()

  product_id product_description               family  cost  selling_price
0    SKU 104         SKU DESC104  Fashion Accessories  14.0           17.0
1    SKU 110         SKU DESC110  Fashion Accessories  10.0           18.0
2    SKU 111         SKU DESC111  Fashion Accessories  11.0           14.0
3    SKU 119         SKU DESC119  Fashion Accessories  15.0           12.0
4    SKU 126         SKU DESC126  Fashion Accessories  10.0           13.0

### Direct bytes access

For unsupported file extensions, `session.get_object()` will throw an error. In these cases, you can use `session.get_object_bytes()`.

In [28]:
try:
    unsupported_file = session.get_object("debug.fake")
except Exception as e:
    print(e)

Unsupported file extension: fake. Use method get_object_bytes() to access this object.

In [32]:
unsupported_file_bytes = session.get_object_bytes("debug.fake")
unsupported_file_bytes

b'title: TNE-hosted CodeLlama Daemon\nmodel:\n  engine_name: openai-gpt\n  model_name: gpt-4-1106-preview\n  api_key: OPENAI_API_KEY\ntemperature: 0\nmax_tokens: 1000\nstream: True\nform: "Q: {question}"\nprompt: |\n  You\'ll be given some buggy Python code pertaining to operations on the given Pandas dataframes. You\'ll also be given an error message. \n  Given this information, first explain what in the code led to the error you were given. Then, return the code snippet debugged, fixing\n  the issue you\'ve identified. Take special care to ensure that the code correctly corresponds to the dataframe columns. \n  \n  Return the debugged Python inside backticks so like this ```python\\n<CODE>\\n```. This will ensure that it can be rendered nicely with markdown.\n  \n  It is crucial that you not put anything but valid Python code inside these backticks, as I will be parsing and running the code inside directly,\n  and my career depends on it so I will be incredibly upset if it doesn\'t work.\n  \n  If you see any loading of the dataframes (AKA, de-serializing it, loading from a CSV, etc.), remove this and ensure the code only deals with the \n  variable names of the provided dataframes. The scope is passed into the context that runs this code. However, ensure that imports and the rest\n  remain untouched.'